@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --blue: #9bcfe7;
  --orange: #ff9500;
  --beige: #f9e0a3;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

body > * {
  background: #eee;
  padding: 2rem;
  text-align: center;
  border: 5px solid white;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
}

.logo img {
  width: 144px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
}

.nav-list li {
  list-style-type: none;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  color: black;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

.header,
.footer {
  flex: 1 100%;
}

.aside {
  flex: 1;
}

.main {
  flex: 2;
}

img {
  width: 100px;
}
